<div class="container">
<%- model_class = Story -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= form_for @story, :html => { :class => "form-horizontal story" } do |f| %>

    <% if @story.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="control-group">
    <%= f.label :heading, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :heading, :class => 'form-control' %>
    </div>
    <%= error_span(@story[:heading]) %>
  </div>
 <div class="control-group">
    <%= f.label :describtion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :describtion, :class => 'form-control' %>
    </div>
    <%= error_span(@story[:describtion]) %>
  </div>
  
  
  <% @folders.each do |h| %>
  <% h.phases.each do |p| %>
     <% p.stories.each do |s| %>
       <% if s.id == @story.id %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stories_path, :class => 'btn btn-default' %>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
</div>